---
import BaseLayout from '@/layouts/BaseLayout'
import TitleBanner from '@/components/TitleBanner'

const CVInfo = {
  name: "Généreux Akotenou",
  title: "Data Scientist",
  email: "mahouzonssou.akotenou@um6p.ma",
  web: "https://genereux-akotenou.github.io",
  github: "https://github.com/genereux-akotenou",
  linkedin: "https://www.linkedin.com/in/genereux-akotenou/",
  about: `Hi, I’m Généreux Akotenou, a Data Scientist with a passion for bioinformatics, machine learning, and NLP. I have a deep interest in using cutting-edge technology to solve problems. I’m looking to collaborate with geeky minds on any of these research topics.`,
  interests: [
    ["Machine Learning", "Algorithms for data-driven predictions."],
    ["Natural Language Processing", "Understanding and generating human language."],
    ["Bioinformatics", "Computational analysis of biological data."],
    ["Ethical AI", "Ensuring fairness and transparency in AI systems."],
    ["AI in Finance", "AI applications for financial analysis and management."]
  ],
  education: [
    {
      degree: "Master in Quantitative and Financial Modeling",
      institution: "College of Computing, Mohamed Polytechnic VI University",
      duration: "2023"
    },
    {
      degree: "Bachelor of Science in Software Engineering",
      institution: "Institute of Training and Research in Computer Science, National University of Abomey-Calavi, Benin",
      duration: "2022",
      thesis: "Implementation of an automatic UML diagram design tool using natural language processing: a case study of the class diagram"
    },
    {
      degree: "Second Prize - MAIC 2020 Artificial Intelligence Competition",
      institution: "Seega Game AI Development",
      duration: "2020"
    },
    //{
    //  degree: "Scientific Baccalaureate (Mathematics and Biology Option)",
    //  institution: "Calavi, Benin",
    //  duration: "2020"
    //},
    {
      degree: "Scientific Baccalaureate (Mathematics and Physical Sciences Option)",
      institution: "Calavi, Benin",
      duration: "2019"
    }
  ],
  publications: [
    {
      title: "<b>GRAILSOLVER, à la dernière itération de l'obtention du graal de la programmation</b> <i>V. R. Houndji, G. Akotenou, A. M. Kousse, K. Bonou Selegbe.</i> <b>Accepted at Journées Francophones de Programmation par Contraintes (JFPC), 2023, Strasbourg, France.</b> GrailSolver is a Constraint Programming (CP) solver that automates the analysis, modeling, and solving processes using a combination of GPT NLP model and Google's OR-Tools CP solver.",
      venue: "JFPC 2023",
      link: "https://pfia23.icube.unistra.fr/conferences/jfpc/Actes_CH_PFIA2023__3_.pdf"
    },
    {
      title: "<b>UML Designer: An Automatic UML Diagram Design Tool</b> <i>V. R. Houndji, G. Akotenou.</i> <b>In: Conte, D., Fred, A., Gusikhin, O., Sansone, C. (eds) Deep Learning Theory and Applications. DeLTA 2023. Communications in Computer and Information Science, vol 1875. Springer.</b> UMLDesigner is an application of NLP in sofware modeling context. It simplifies functional analyses for development projects by automating the creation of UML class diagrams from textual descriptions of the system to be designed.",
      venue: "DeLTA 2023",
      link: "https://link.springer.com/chapter/10.1007/978-3-031-39059-3_23"
    }
  ],
  experience: [
    {
      "title": "Professional Internship",
      "institution": "CYBERSPECTOR",
      "date": "July 2022 - July 2023",
      "description": "Held a developer position, working with the internal team on several projects. Technologies used: VueJS, NodeJS."
    },
    {
      "title": "Backend Developer",
      "institution": "Marketscc cryptocurrencies",
      "date": "September 2022 - December 2022",
      "description": "Contributed to the development of a payment and cryptocurrency exchange API for banking and mobile money. Technologies used: PHP, Laravel, Linux Server."
    },
    {
      "title": "Java Developer",
      "institution": "REMOTE",
      "date": "July 2022 - December 2022",
      "description": "Contributed to the development of VisualSearchTree, a desktop software for real-time visualization of the search process of a Constraint Programming solver. Technologies used: Github Action, IntelliJ, Java."
    },
    {
      "title": "Web Developer",
      "institution": "MAIC Organization",
      "date": "August 2021 - December 2022",
      "description": "Helped develop a platform promoting AI among youth through coding competitions. Involved in UI development and API integration. Technologies used: VueJs, ThreeJs, JavaScript, Axios, Git."
    },
    {
      "title": "Company Immersion Internship",
      "institution": "Malaika Game Studios",
      "date": "July 2021 - October 2021",
      "description": "Contributed to the development of CashMaster, a mobile game with Unity3D. Involved in game design and development, and developed a virtual currency payment platform. Technologies used: C#, PHP, HTML, CSS, JS."
    }
  ]
}
---

<style>
  @media (min-width: 992px) {
    .col-md-3 {
        width: 25%;
    }
  }
  @media (min-width: 992px) {
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left;
    }
  }
  @media (min-width: 768px) {
    .col-sm-4 {
        width: 33.33333333%;
    }
  }
  @media (min-width: 768px) {
    .col-sm-3 {
        width: 25%;
    }
  }
  @media (min-width: 768px) {
    .col-sm-9[data-astro-cid-j7pv25f6] {
        width: calc(100% - 25%);
    }
  }
  @media (min-width: 768px) {
      .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
          float: left;
      }
  }
  .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
      float: left;
  }
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
  }
  .h4, h4 {
      font-size: 18px;
  }
  .h4, .h5, .h6, h4, h5, h6 {
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
      font-family: inherit;
      font-weight: 500;
      line-height: 1.1;
      color: inherit;
  }
  .prose h1, h2, h3, h4, h5, h6 {
      --tw-text-opacity: 1 !important;
      color: rgb(39 39 42 / 1 !important) !important;
  }
  @media (min-width: 768px) {
      .col-sm-8 {
          width: 66.66666667%;
      }
  }
  .row {
      margin-right: -15px;
      margin-left: -15px;
  }
  .separator {
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    border-bottom: dashed 2px #CCCCCC;
    padding-bottom: 6px;
    margin-bottom: 11px;
  }
  mark {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  }
  .profile-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: repeat, no-repeat;
    -moz-box-shadow: inset 0 0 20px #636161;
    -webkit-box-shadow: inset 0 0 20px #636161;
    box-shadow: inset 0 0 20px #636161;
  }
  .list{
    list-style-type: circle;
    margin-left: 2em;
  }
  .me{
    align-items: center;
    display: flex;
    margin: 0 3em;
    text-align: center;
  }
  .layout {
    /*margin-top: 3rem;*/
    display: flex;
    flex-direction: row;
  }
  .education-table {
    margin: 20px 0;
    border-collapse: collapse;
    width: 100%;
  }
  .education-table table {
    width: 100%;
    border: 1px solid #ddd;
  }
  .education-table th, .education-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  .education-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  .education-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  .education-table tr:hover {
    background-color: #f1f1f1;
  }

</style>

<BaseLayout title='Home'>
	<TitleBanner title="Généreux Akotenou (in Building)" />

  <!-- section1 -->
  <h3 class="separator">About Me</h3>
  <div class="row clearfix flex md:flex-row flex-col">
    <div class="me">
      <span class="profile-img" style="background-image: url(/img/genereux-1.jpeg)"></span>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
      <p>
        {CVInfo.about}
      </p>
      <p style="margin-top: 0.3em;">More specifically, My NLP research interests are</p>
      <ul>
          {CVInfo.interests.map(interest => <li class='list'><mark>{interest[0]}</mark>, {interest[1]}</li>)}
      </ul>
      <!--<ul>
        <li>use <mark>symbolic knowledge</mark> (e.g. Regular Expressions) to help NLP models reach better performance and have better interpretability on NLP tasks.</li>
        <li><mark>information extraction</mark>, such as entity typing and named entity recognition.</li>
        <li><mark>information retrieval</mark>, familiar with related techniques.</li>
        <li>investigate the <mark>ontological knowledge</mark> in large pretrained language models.</li>
      </ul>-->
      <font size="3" style="position: relative; top: 0.6em; font-weight: bold;">
        I'm currently <marks>VERY INTERESTED</marks> at <mark>Large Language Models (LLM)</mark> and keeps exploring and trying related techniques.
        I'm <mark>open to the job market this Autumn</mark>, feel free to contact me through my email: <a style="color: #477dca;" href="mailto:{{CVInfo.email}}">{CVInfo.email}</a>
      </font>
    </div>
  </div>

  <!-- section2 -->
  <h3 class="separator">Education</h3>
  <div class="education-table">
    <table>
      <thead>
        <tr>
          <th>Degree</th>
          <th>Institution</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        {CVInfo.education.map(edu => (
          <tr key={edu.degree + edu.institution}>
            <td><strong>{edu.degree}</strong></td>
            <td>{edu.institution}</td>
            <td>{edu.duration}</td>
          </tr>
        ))}
      </tbody>
    </table>
  </div>
  <!--<ul>
    {CVInfo.education.map(edu => (
      <li class="list"><mark>{edu.degree}</mark>, {edu.institution} ({edu.duration})</li>
    ))}
  </ul>-->

  <!-- section3 -->
  <h3 class="separator">Research</h3>
  {CVInfo.publications.map(pub => (
    <div class="row clearfix layout layout-left border-no">
      <div class="col-xs-12 col-sm-3 col-md-3 col-print-12 details">
        <h4>{pub.venue}</h4>
        <p><b>Alibaba Damo Academy, Hangzhou</b></p>
        <p>August 2021 -- June 2023</p>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-9 col-print-12 content">
        <p>
          <a href={pub.link} style="color: #477dca;">[Paper]</a>&nbsp;
          <span set:html={pub.title}/> 
        </p>
      </div>
    </div>
  ))}

  <!-- section4 -->
  <h3 class="separator">Experience</h3>
  {CVInfo.experiences.map(exp => (
    <div className="row clearfix layout layout-left border-no" key={exp.title}>
      <div className="col-xs-12 col-sm-3 col-md-3 col-print-12 details">
        <h4>{exp.title}</h4>
        <p><b>{exp.institution}</b></p>
        <p>{exp.date}</p>
      </div>
      <div className="col-xs-12 col-sm-9 col-md-9 col-print-12 content">
        <p dangerouslySetInnerHTML={{ __html: exp.description }} />
      </div>
    </div>
  ))}








  <!-- section1 -->
  <h3 class="separator">Projects</h3>

  <div class="container header-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
        <h1>{CVInfo.name}</h1>
        <h2>{CVInfo.title}</h2>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 header-right">
        <ul class="icons no-print">
          <li><a href={CVInfo.github} target="_blank" class="button button--sacnite button--round-l">
            <i class="fab fa-github" title="Github link"></i>
          </a></li>
          <li><a href={CVInfo.linkedin} target="_blank" class="button button--sacnite button--round-l">
            <i class="fab fa-linkedin" title="Linkedin link"></i>
          </a></li>
        </ul>
        <p>Email: <a href={`mailto:${CVInfo.email}`} target="_blank">{CVInfo.email}</a></p>
        <p>Web: <a href={CVInfo.web} target="_blank">{CVInfo.web}</a></p>
      </div>
    </div>
  </div>

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <div class="container intro-container">
        <h3>About Me</h3>
        <p>{CVInfo.about}</p>
        <h4>Research Interests</h4>
        <ul>
          {CVInfo.interests.map(interest => <li>{interest}</li>)}
        </ul>
      </div>

      <div class="container text-container">
        <h3>Education</h3>
        <ul>
          {CVInfo.education.map(edu => (
            <li>{edu.degree}, {edu.institution} ({edu.duration})</li>
          ))}
        </ul>
      </div>

      <div class="container list-container">
        <h3>Publications</h3>
        {CVInfo.publications.map(pub => (
          <div class="row clearfix layout layout-left border-no">
            <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
              <h4>{pub.venue}</h4>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-print-12 content">
              <p>{pub.title} <a href={pub.link}>(Paper)</a></p>
            </div>
          </div>
        ))}
      </div>
    </div>
  </main>
</BaseLayout>

<script>
  import { animate } from 'motion'
  const showAnimations = localStorage.getItem('animations') === 'true'

  if (showAnimations) {
    animate('.title', { y: [80, 0], opacity: [0, 1] }, { duration: 2.5, opacity: { duration: 3 }, offset: [0, 0.55, 0.75] })
  }
</script>