---
import BaseLayout from '@/layouts/BaseLayout'
import TitleBanner from '@/components/TitleBanner'

const CVInfo = {
  name: "Généreux Akotenou",
  title: "Software Engineer and Researcher",
  email: "contact@generouxakotenou.com",
  web: "https://generouxakotenou.com",
  github: "https://github.com/generoux",
  linkedin: "https://www.linkedin.com/in/generoux-akotenou/",
  about: `Hi, I’m Généreux Akotenou, a Software Engineer and Researcher with a passion for bioinformatics, machine learning, and NLP. I have a deep interest in using cutting-edge technology to solve complex problems in genetics and computational biology.`,
  interests: [
    ["Machine Learning", "Description"],
    ["Bioinformatics", "Description"],
    ["Natural Language Processing", "Description"],
    ["Genomic Data Analysis", "Description"],
    ["Software Engineering", "Description"]
  ],
  education: [
    {
      degree: "MSc in Bioinformatics",
      institution: "University of XYZ",
      duration: "2019 - 2021"
    },
    {
      degree: "BSc in Computer Science",
      institution: "University of ABC",
      duration: "2015 - 2019"
    }
  ],
  publications: [
    {
      title: "Ultra-Fine Entity Typing with Neural CRF",
      venue: "EMNLP 2022",
      link: "https://example.com/paper"
    },
    {
      title: "Neuralizing Regular Expressions for Slot Filling",
      venue: "EMNLP 2021",
      link: "https://example.com/paper"
    }
  ]
}
---

<style>
  .separator {
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    border-bottom: dashed 2px #CCCCCC;
    padding-bottom: 3px;
    margin-bottom: 40px;
  }
  mark {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  }
  .profile-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: repeat, no-repeat;
    -moz-box-shadow: inset 0 0 20px #636161;
    -webkit-box-shadow: inset 0 0 20px #636161;
    box-shadow: inset 0 0 20px #636161;
  }
  .list{
    list-style-type: circle;
    margin-left: 2em;
  }
</style>

<BaseLayout title='Home'>
	<TitleBanner title="${CVInfo.name}" />

  <!-- section1 -->
  <h3 class="separator">About Me</h3>
  <div class="row clearfix">
    <div class="col-xs-12 col-sm-4 col-md-3 no-print">
      <span class="profile-img" style="background-image: url(/img/genereux-1.jpeg)"></span>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
      <p>
        {CVInfo.about}
      </p>
      <p>More specifically, My NLP research interests are</p>
      <ul>
          {CVInfo.interests.map(interest => <li class='list'><mark>{interest[0]}</mark>, {interest[1]}</li>)}
      </ul>
      <ul>
        <li>use <mark>symbolic knowledge</mark> (e.g. Regular Expressions) to help NLP models reach better performance and have better interpretability on NLP tasks.</li>
        <li><mark>information extraction</mark>, such as entity typing and named entity recognition.</li>
        <li><mark>information retrieval</mark>, familiar with related techniques.</li>
        <li>investigate the <mark>ontological knowledge</mark> in large pretrained language models.</li>
      </ul>
      <font size="5">
        I'm currently <mark>VERY INTERESTED</mark> at <mark>Large Language Models (LLM)</mark> and keeps exploring and trying related techniques (Instruction Tuning, Meta ICL, Lora, Self-instruct (Alpaca)).
        I'm <mark>open to the job market this Autumn</mark>, feel free to contact me through my email: jiangchy@shanghaitech.edu.cn 
      </font>
    </div>
  </div>


  <div>
    <div>
      <img src="https://genereux-akotenou.github.io/img/genereux-1.jpeg" style="border-radius: 100%; width: 10em;"/>
    </div>
    <div>
      <p>{CVInfo.about}</p>
    </div>
  </div>

  <!-- section1 -->
  <h3 class="separator">Education</h3>

  <!-- section1 -->
  <h3 class="separator">Research</h3>

  <!-- section1 -->
  <h3 class="separator">Experience</h3>

  <!-- section1 -->
  <h3 class="separator">Projects</h3>

  <div class="container header-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
        <h1>{CVInfo.name}</h1>
        <h2>{CVInfo.title}</h2>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 header-right">
        <ul class="icons no-print">
          <li><a href={CVInfo.github} target="_blank" class="button button--sacnite button--round-l">
            <i class="fab fa-github" title="Github link"></i>
          </a></li>
          <li><a href={CVInfo.linkedin} target="_blank" class="button button--sacnite button--round-l">
            <i class="fab fa-linkedin" title="Linkedin link"></i>
          </a></li>
        </ul>
        <p>Email: <a href={`mailto:${CVInfo.email}`} target="_blank">{CVInfo.email}</a></p>
        <p>Web: <a href={CVInfo.web} target="_blank">{CVInfo.web}</a></p>
      </div>
    </div>
  </div>

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <div class="container intro-container">
        <h3>About Me</h3>
        <p>{CVInfo.about}</p>
        <h4>Research Interests</h4>
        <ul>
          {CVInfo.interests.map(interest => <li>{interest}</li>)}
        </ul>
      </div>

      <div class="container text-container">
        <h3>Education</h3>
        <ul>
          {CVInfo.education.map(edu => (
            <li>{edu.degree}, {edu.institution} ({edu.duration})</li>
          ))}
        </ul>
      </div>

      <div class="container list-container">
        <h3>Publications</h3>
        {CVInfo.publications.map(pub => (
          <div class="row clearfix layout layout-left border-no">
            <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
              <h4>{pub.venue}</h4>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-print-12 content">
              <p>{pub.title} <a href={pub.link}>(Paper)</a></p>
            </div>
          </div>
        ))}
      </div>
    </div>
  </main>
</BaseLayout>

<script>
  import { animate } from 'motion'
  const showAnimations = localStorage.getItem('animations') === 'true'

  if (showAnimations) {
    animate('.title', { y: [80, 0], opacity: [0, 1] }, { duration: 2.5, opacity: { duration: 3 }, offset: [0, 0.55, 0.75] })
  }
</script>
